<div class="row" id="comment_<%= comment.id %>">
  <div class="col-sm-12 col-md-6">
    <b><%= comment.user.full_name %></b>
    <%= link_to "Delete", comment_path(comment), method: :delete, remote: true, data: { confirm: "Are you sure?" }, class: "text-danger ml-2" if current_user == comment.user %>
  </div>

  <div class="col-sm-12 col-md-6 text-md-right">
    <span class="text-muted">Commented <%= time_ago_in_words(comment.created_at) %> ago</span>
  </div>

  <div class="col-sm-12 col-md-12">
    <p><%= comment.body %></p>
  </div>
</div>
