<% provide(:title, @post.title) %>
<% classes = ["primary", "secondary", "success", "danger", "warning", "info", "dark"] %>

<div class="row">
  <div class="col-sm-12 col-md-9">
    <% if @post.archive? %>
      <span class="badge badge-danger mb-2">Archived</span>
    <% end %>

    <h2 class="mb-3"><%= @post.title %></h2>

    <div class="mb-3">
      <% @post.tags.each_with_index do |tag, index| %>
        <span class="badge badge-<%= classes[index % 7] %>"><%= tag.name %></span>
      <% end %>
    </div>

    <p><%= @post.body %></p>

    <div class="row">
      <div class="col-sm-12 col-md-6">
        <% if user_signed_in? %>
          <%=
              link_to current_user.voted_for?(@post) ? '<i class="fas fa-thumbs-up like-icon"></i>'.html_safe : '<i class="far fa-thumbs-up like-icon"></i>'.html_safe,
                      like_post_path(@post),
                      method: :put,
                      remote: true,
                      class: "like-btn"
          %>
        <% end %>

        <span><span id="like_count_<%= @post.id %>"><%= @post.get_upvotes.size %></span> Likes</span>
      </div>

      <div class="col-sm-12 col-md-6 text-md-right">
        <span class="text-muted">Posted <%= time_ago_in_words(@post.created_at) %> ago</span>
      </div>
    </div>

    <% if user_signed_in? %>
      <%= render "comments/form", comment: @new_comment %>
    <% end %>

    <div class="comments-block">
      <h4 class="mb-4">Comments:</h4>
      <div id="new_comment_block"></div>
      <%= render "comments/comments", comments: @comments %>
    </div>
  </div>

  <div class="col-sm-12 col-md-3">
    <h4>You may like:</h4>

    <% @post.find_related_tags.first(10).each do |post| %>
      <%= link_to truncate(post.title, length: 30), post_path(post) %><br>
    <% end %>
  </div>
</div>
